{% extends "base.html" %}

<!-- Title -->
{% block title %}About{% endblock %}

<!-- Body -->
{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Automatic Image Colorizer</h1> <br>
            <p align="center">
                <img src="../static/img/demo_pics/demo_pic1.png"/>
            </p>

            <br>
            <h4 class=ml-5>About</h4>
            <p class=ml-5>Automatically colors black & white images </p>
            
            <p class=ml-5>Components:</p>
            <ul class=ml-5>
                <li>Deep Learning - Computer Vision</li> 
                <li>Web development using Python (Flask)</li>
                <li>Algorithm modification for website integration</li>
                <li>Deployment on AWS cloud (Elastic Beanstalk)</li>
            </ul>
            <p class=ml-5>See my Github for <a href="https://github.com/yhkdev/Automatic_Image_Colorizer">source code</a>.</p>
            <p class=ml-5>Based off of a pre-trained image colorization 
                <a href="https://arxiv.org/abs/1603.08511">algorithm</a>
                 made by Richard Zhang, Phillip Isola, and Alexei A. Efros.</p>
            
            <br>
            <h4 class=ml-5>Demo</h4>
            <p align="center">
                <img src="static/img/auto_colorizer_demo1.gif"/>
            </p>

            <br>
            <h4 class=ml-5>Citation</h4>
            <pre>
        ```
        @inproceedings{zhang2016colorful,
        title={Colorful Image Colorization},
        author={Zhang, Richard and Isola, Phillip and Efros, Alexei A},
        booktitle={ECCV},
        year={2016}
        }

        @article{zhang2017real,
        title={Real-Time User-Guided Image Colorization with Learned Deep Priors},
        author={Zhang, Richard and Zhu, Jun-Yan and Isola, Phillip and Geng, 
            Xinyang and Lin, Angela S and Yu, Tianhe and Efros, Alexei A},
        journal={ACM Transactions on Graphics (TOG)},
        volume={9},
        number={4},
        year={2017},
        publisher={ACM}
        }
        ```
            </pre>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <a href="https://github.com/richzhang/colorization.git"> Algorithm Source</a>
        © 2016 Copyright: Richard Zhang, Phillip Isola, Alexei A. Efros
        All rights reserved.
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->




{% endblock %}