{% extends "base.html" %}

<!-- Title -->
{% block title %}Automatic Image Colorizer{% endblock %}

<!-- Body -->
{% block main %}
<div class="container">

    <div class="row">
        <div class="col">
            <h1 class="text-center">Automatic Image Colorizer</h1>
            <div>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <p class="flashes text-center">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    </p>
                  {% endif %}
                {% endwith %}
            </div>
            <div>
                <p class="text-center">
                    {% for error in form.photo.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if filename %}
            <div>
                <img class="img-fluid" src="{{ url_for('display_result', filename=filename) }}" alt="result_img">
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <br><br><br>
            <form action="#", method="POST", enctype=multipart/form-data>
                {{ form.csrf_token }}

                <div class="form-group">
                    <label class="text-center">Upload Black & White Image to Convert to Color:</label>
                    <div class="custom-file">
                        {{ form.photo(placeholder="Select image...", class="custom-file-input form-control", id="image") }}
                        <label class="custom-file-label" for="image">Select image...</label>
                    </div>
                </div>

                <div>
                    <p>
                    {{ form.submit(class="btn btn-primary form-control") }}
                    </p>

                    <p>
                        {% for error in form.recaptcha.errors %}
                            {% if error == "The response parameter is missing."%}
                            <ul>
                                <li>{{ "Need to validate reCaptcha" }}</li>
                            </ul>
                            {% endif %}
                        {% endfor %}
                        {{ form.recaptcha(class="text-center form-control") }}
                    </p>
                </div>

            </form>
        </div>
        <div class="col-3">
        </div>
    </div>

</div>
{% endblock %}